
.tag-list, .post-title-date {
    font-size: 0.9rem;
    color: #9a9a9a;
}

.tag-title a {
    color: #268bd2;
    text-decoration: none;
}

.tag-title a:hover {
    text-decoration: underline;
}

.tag-title a:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}

.masthead-title small {
    font-size: 60%;
}

.post-tag {
    display: inline-block;
    background: rgba(106,159,181,0.15);
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #6a9fb5;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
