---
layout: default
title: Home
---

<h2>Hi, <small> See my lastest highlight posts here.</small> </h2>
<hr/>
<div class="posts">
    {% for post in site.posts %}
    {% if post.highlight %}
    <article class="post">
        <h1 class="post-title">
            <a href="{{ site.baseUrl }}{{ post.url }}">
                {{ post.title }}
            </a>
            &nbsp;&nbsp;<time datetime="{{ post.date | date_to_xmlschema }}" class="post-title-date">{{ post.date | date_to_string }}</time>
        </h1>
    </article>
    {% endif %}
    {% endfor %}
</div>
