---
layout: default
title: Home
---

<h2>Hi, there. <small> See the lastest highlight posts here.</small> </h2>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;</h3>
<div class="posts">
    {% for post in site.posts %}
    {% if post.highlight %}
    <article class="post">
        <h1 class="post-title">
            <a href="{{ site.baseUrl }}{{ post.url }}">
                {{ post.title }}
            </a>
            &nbsp;&nbsp;<time datetime="{{ post.date | date_to_xmlschema }}" class="post-title-date">{{ post.date | date_to_string }}</time>
        </h1>
    </article>
    {% endif %}
    {% endfor %}
</div>
