<div class="posts">
    <h1> {{ paginator.per_page }} </h1>
    <h1> {{ paginator.total_posts }} </h1>


    {% for post in site.posts %}
    <article class="post">
        <h1 class="post-title">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
            </a>
        </h1>

        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

        {{ post.excerpt }}
        {% capture content_words %}
            {{ post.content | number_of_words }}
        {% endcapture %}
        {% capture excerpt_words %}
            {{ post.excerpt | number_of_words }} 
        {% endcapture %}
        {% if excerpt_words != content_words %}
        <p><a class="btn btn-sm btn-primary" href="{{site.baseurl}}{{ post.url }}/#read-more" role="button">Read more <i class="fa fa-arrow-circle-right"></i></a>
        </p>
        {% endif %}

        {% include tagsforpost.html tags=post.tags %}

    </article>
    {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
            Previous
        </a>
    {% else %}
        <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    <span class="page_number ">
        Per_Page: {{ paginator.per_page }} 
    </span>
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
        <span class="next ">Next</span>
    {% endif %}
</div>

{% include analytics.html %}
