<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <nav>
            <ul>
                <li><a href="{{ site.baseUrl }}/">Home</a></li>
                <li><a href="{{ site.baseUrl }}/about">About</a></li>
                <li><a href="{{ site.baseUrl }}/cv">CV</a></li>
                <li><a href="{{ site.baseUrl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div><!-- /.container -->

        {% include footer.html %}
    </body>
</html>
